*{
    margin: 0;
}

/* body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
} */

.transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .hover\:rotate-y-180:hover {
    transform: rotateY(180deg);
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }

